<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>StudentLogin</servlet-name>
  	<display-name>StudentLogin</display-name>
  	<description></description>
  	<servlet-class>com.kumarjit.model.StudentLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherLogin</servlet-name>
  	<display-name>TeacherLogin</display-name>
  	<description></description>
  	<servlet-class>com.kumarjit.model.TeacherLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewStudent</servlet-name>
  	<display-name>NewStudent</display-name>
  	<description></description>
  	<servlet-class>com.kumarjit.model.NewStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentAttendance</servlet-name>
  	<display-name>StudentAttendance</display-name>
  	<description></description>
  	<servlet-class>com.kumarjit.model.StudentAttendance</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Semester_Class_Selector</servlet-name>
  	<display-name>Semester_Class_Selector</display-name>
  	<description></description>
  	<servlet-class>com.kumarjit.model.Semester_Class_Selector</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttendanceHistory</servlet-name>
  	<display-name>AttendanceHistory</display-name>
  	<description></description>
  	<servlet-class>com.kumarjit.model.AttendanceHistory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttendanceHistoryPage</servlet-name>
  	<display-name>AttendanceHistoryPage</display-name>
  	<description></description>
  	<servlet-class>com.kumarjit.model.AttendanceHistoryPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentsList</servlet-name>
  	<display-name>StudentsList</display-name>
  	<description></description>
  	<servlet-class>com.kumarjit.model.StudentsList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListOfStudents</servlet-name>
  	<display-name>ListOfStudents</display-name>
  	<description></description>
  	<servlet-class>com.kumarjit.model.ListOfStudents</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttendanceMain</servlet-name>
  	<display-name>AttendanceMain</display-name>
  	<description></description>
  	<servlet-class>com.kumarjit.model.AttendanceMain</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentLogin</servlet-name>
  	<url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherLogin</servlet-name>
  	<url-pattern>/TeacherLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewStudent</servlet-name>
  	<url-pattern>/NewStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentAttendance</servlet-name>
  	<url-pattern>/StudentAttendance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Semester_Class_Selector</servlet-name>
  	<url-pattern>/Semester_Class_Selector</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttendanceHistory</servlet-name>
  	<url-pattern>/AttendanceHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttendanceHistoryPage</servlet-name>
  	<url-pattern>/AttendanceHistoryPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentsList</servlet-name>
  	<url-pattern>/StudentsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListOfStudents</servlet-name>
  	<url-pattern>/ListOfStudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttendanceMain</servlet-name>
  	<url-pattern>/AttendanceMain</url-pattern>
  </servlet-mapping>
</web-app>
